@font-face {
    font-family: 'Akrobat';
    src: url('..fonts/Akrobat-Black.eot');
    src: local('Akrobat Black'), local('Akrobat-Black'), 
         url('..fonts/Akrobat-Black.eot?#iefix') format('embedded-opentype'),
         url('..fonts/Akrobatblack.woff2') format('woff2'),
         url('..fonts/Akrobatblack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('..fonts/Akrobat-Bold.eot');
    src: local('Akrobat Bold'), local('Akrobat-Bold'), 
         url('../fonts/Akrobat-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akrobatbold.woff2') format('woff2'),
         url('../fonts/akrobatbold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    font-family: "Montserrat", Arial, sans-serif;
    background-color: #45054f;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

.premium-header {
    padding: 27px 60px 26px 40px;
    width: 100%;
    background-color: #0000;
    order: 1;
}

.premium-main {
    position: relative;
    order: 2;
}

.premium-header__nav {
    display: flex;
    flex-wrap: wrap;
}

.intro {
    min-height: 1080px;
    background-color: #3d0d4f;
    background-image: url("../img/background-offer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.intro::before {
    content: "";
    height: 1080px;
    width: 1152px;
    background-color: #3d0d4f;
    opacity: 0.85;
    padding-left: 200px;
    transform: skew(-16deg);
    margin-left: -262px; 
    position: absolute;    
}

/* .intro-container::before {
    content: "";
    width: 5px;
    height: 5px;
    border-left: 0 solid #0000;
    border-right: 335px solid #0000;
    border-top: 1080px solid #3d0d4f;
    position: absolute;
    left: 45%;
    top: 0;
} */

/* .intro__content {
    transform: skew(16deg);      
} */

.intro-container {
    padding-left: 235px;
    padding-top: 230px;
}

.intro__content{
    position: absolute;
}

.intro__title {
    color: #e1ced9;
    font-size: 24px;
    line-height: 28px;
}

.intro__h1 {
    width: 740px;
    color: #ffffff;
    font-family: "Akrobat", Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 76px;
    line-height: 90px;
    margin: 40px 0 80px 0;
}

.intro__text {
    color: #e1ced9;
    font-size: 18px;
    line-height: 28px;
    width: 600px; 
    margin: 0 0 120px 0;
}

.intro-container a {
    text-decoration: none;
    color: #ffffff;
}

.intro__learn-more {
    border: 2px solid #ffffff;
    border-radius: 2px;
    padding: 16px 32px;
    text-transform: uppercase;
}

.offer {
    background-color: #ffffff;
    color: #303030;
    padding-left: 240px;
    padding-top: 150px;
    padding-bottom: 160px;
    padding-right: 310px;
}

.offer__title {
    font-family: "Akrobat", Arial, sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
    width: 700px;
    margin: 0 0 90px 0;
}

.offer-container {
    display: flex;
    justify-content: space-between;
}

.offer__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 820px;
}

.offer__list li {
    list-style: none;
    position: relative;
    padding-left: 60px;
}

.offer__list li:first-child::before {
    content: "";
    width: 22px;
    height: 23px;
    background: url(../img/flag.png) no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
}

.offer__list li:nth-child(2)::before {
    content: "";
    width: 22px;
    height: 23px;
    background: url(../img/calendar.png) no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
}

.offer__text {
    width: 390px;
    margin: 0;
}

.tariffs {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 755px;
}

.tariffs__list {
    display: flex;
    justify-content: space-between;
    width: 1170px; 
    position: relative;
}

.tariffs__list li {
    list-style: none;
}

.tariffs__listing {
    min-height: 291px;
    width: 281px;
    background-color: #ffffff;
    color: #303030;
    padding: 125px 60px 40px 30px;
}

.tariffs__title {
    font-weight: 400;
    position: absolute;
    top: 20px;
    color: #ffffff;
    text-transform: uppercase;
}

.tariffs__listing:first-child h3 {
    background-color: #45054f;    
}

.tariffs__listing:nth-child(2) h3 {
    background-color: #8e235a;    
}

.tariffs__listing:last-child h3 {
    background-color: #ff732f;    
}

.old-price {
    color: #888888;
    font-size: 28px;
    line-height: 28px;
    text-decoration: line-through;
    margin: 0 0 10px 0;
}

.new-price {
    color: #8e235a;
    font-size: 60px;
    line-height: 28px;
    margin: 0 0 35px 0;
}

.ruble-old {
    font-size: 24px;
}

.ruble-new {
    font-size: 40px;
}

.tariff__details {
    margin: 0 0 77px 35px;
}

.tariff__button {
    border: none;
    background-color: #8e235a;
    color: #ffffff;
    text-transform: uppercase;
    padding: 18px 36px 17px;
    cursor: pointer;
}

.footer {
    background-color: #303030;
    min-height: 388px;
    display: flex;
    flex-direction: column;
}

.footer-container {
    width: 1088px;
}